language: python

matrix:
    include:
        - python: 2.7
          env: TOXENV=django110
        - python: 2.7
          env: TOXENV=django111
        - python: 3.5
          env: TOXENV=django20

install:
  - pip install tox

script: tox
